<div *ngIf="tags" [style.justifyContent]="justifyContent" class="mx-2 d-flex">
  <div *ngFor="let tag of tags">
    <a href="" routerLink="/tag/{{ tag.name }}">
      <span class="mx-2">{{ tag.name }}({{ tag.count }})</span>
    </a>
  </div>
</div>
<div
  *ngIf="foodPageTags"
  [style.justifyContent]="justifyContent"
  class="mx-2 d-flex"
>
  <div *ngFor="let tagName of foodPageTags">
    <a href="" routerLink="/tag/{{ tagName }}">
      <span class="mx-2">{{ tagName }}</span>
    </a>
  </div>
</div>
